body {
  background-color: #FFD1DC;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia;
  font-size: 12px;
}


p {
  font-style: italic;
}

label {
  font-size: 15px;
}


#hobbies--label {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
 justify-content: space-around;
}

#dropdown.form-control {
  width: 10%;
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
}

.input--textarea {
  min-height: 110px;
  width: 50%;
  padding: 2px;
  resize: vertical;
}

.submit-button {
  width: 10%;
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
}