body {
  background-color: #FFD1DC;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia;
}


p {
  font-style: italic;
}

label {
  font-size: 15px;
}

input {
  font-size: 12px;
}